{% extends "layout.html" %}

{% block content %}
    <p class="italic">Altcoins</p>
    <p class="wide-text">
        Het woord altcoin bestaat uit de woordencombinatie alternative bitcoin. Het is dus een enorm containerbegrip voor alle coins buiten bitcoin, en eigenlijk is de term altcoin te algemeen om alle andere coins onder te scharen. Altcoins hebben een nauw verwantschap met bitcoin, dat zie je ook terug in de koers. Bitcoins marktdominantie is ongeveer 53 procent. Dat betekent dat 53 procent van de waarde van alle cryptocurrency, bestaat uit bitcoin.
    </p>
    <p class="wide-text">
        Het is dan ook niet gek dat de koers van bitcoin leidend is voor de koers van bijna alle andere coins. Zit bitcoin in een zogenaamde bullrun, waar de waarde dagelijks omhoog gaat? Dan volgen vrijwel alle altcoins direct. Dat werkt ook de andere kant op. Als de waarde van bitcoin afneemt, dan wordt de waarde van altcoins meegesleurd. Er zijn duizenden altcoins maar de meesten zijn niet heel bijzonder (daar kom ik zo op terug), en veel van deze coins overleven ook niet heel erg lang. Een van de alleroudste altcoins is Litecoin. Deze munt doet het verrassend goed en staat al jaren in de top 10 van meest waardevolle munten.
    </p>

    <br>
    <iframe class="video" src="https://www.youtube.com/embed/HG6XaFDI3hw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
