{% extends "layout.html" %}

{% block content %}
    <p class="italic">Het perfecte geld van de toekomst (Website geinspireerd door <a class="download-link" href="https://vidmar.net/projects/crycker/">crycker)</a></p>
    <p class="wide-text">
        Bitcoin (afgekort BTC) is een cryptovaluta en een mondiaal betaalmiddel (als systeem wordt Bitcoin met een hoofdletter geschreven, als munteenheid vaak met een kleine letter). Het is de eerste gedecentraliseerde digitale munt die werkt zonder centrale bank of centrale beheerder. Het netwerk is peer-to-peer en de transacties gebeuren tussen de gebruikers onderling, zonder tussenpersoon. Deze transacties worden geverifieerd via netwerk nodes door het gebruik van cryptografie en worden opgeslagen in een openbare gedistribueerde database, gekend als een blockchain, waar gemiddeld eens in de 10 minuten een blok aan wordt toegevoegd.
    </p>
    <p class="wide-text">
        Het concept van een blockchain is voor het eerst in 1998 beschreven door Wei Dai op de cypherpunks-mailinglist, en in 2009 geïmplementeerd als opensourcesoftware onder de naam Bitcoin door Satoshi Nakamoto (pseudoniem van een onbekende persoon of groep). Satoshi (afgekort sat) werd later ook de naam van de kleinste rekeneenheid van bitcoin: 1 satoshi = 1/100.000.000 bitcoin (één honderdmiljoenste van één bitcoin) of 0,01 microbitcoin.
    </p>
    <h4 class="space">Hoe start je met Bitcoin?</h4>
    <div class="example-text">
        <p>
            Er zijn meerdere websites waar je je Bitcoins kan kopen.<br>
            Op <a class="download-link" href="https://accounts.binance.com/">Binance.com</a> kan je een account aanmaken.<br>
            Wanneer je account goedgekeurd is kan je beginnen met het kopen van je coins!<br>
        </p>
    </div>

    <hr>

    <br>
    <p>Je kan Bitcoins sturen door middel van een adres.</p>
    <p><span>BTC</span> to 3C9kasy3PnPeGNXVSj1iKacgGzD1qV6QHy QR code:</p>
    <img class="example-img" src="../static/img/QR-bitcoin.jpg" alt="QR code">
{% endblock %}
