{% extends "layout.html" %}

{% block content %}
    <p class="italic">Satoshi Nakamoto</p>
    <p class="wide-text">
        Satoshi Nakamoto is het pseudoniem van een onbekend persoon of een groep die de cryptomunt bitcoin ontwierp en de eerste blockchain database oprichtte. Nakamoto was de eerste die het double-spendingprobleem oploste waardoor elektronisch geld zonder een centrale autoriteit mogelijk werd. Nakamoto was actief betrokken bij de ontwikkeling van bitcoin tot en met december 2010.
    </p>
    <p class="wide-text">
        De Duitse kunstschilder en wiskundige Vincent van Volkmer werd ervan verdacht de uitvinder van bitcoin te zijn op basis van een screenshot van het gehackte e-mailaccount van Satoshi Nakamoto. Op de afbeelding was te zien dat Volkmer een bericht aan het e-mailadres had verstuurd met de titel The bee is free. Volkmer weersprak de geruchten op zijn website en liet weten dat hij nooit een e-mail met die titel aan het adres van Satoshi had verzonden. De screenshot zou volgens hem nep zijn.
    </p>

    <br>
    <p>Plaatje van Satoshi cyborg</p>
    <img class="example-img" src="../static/img/satoshi-cyborg.jpg" alt="Plaatje van Satoshi Nakamoto als cyborg">
{% endblock %}